In [23]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#import matplotlib.pyplot as plt

#importing the dataset
data = pd.read_csv('Update (1).csv')

#Before making anything like feature selection,feature extraction and classification, firstly we start with basic data analysis. Lets look at features of data.
data.head()  # head method show only first 5 rows

,id,diagnosis,Invoice Date,Date of birth,Invoice No,Gender,Test Name,Age,Delivery Date,Department,Sample,Contact number,patient name,Unit,Reference Value,Address,Test Attribute,Result
0,111,M,1/1/2018,22/1/1990,900,M,555,28,8/1/2018,909,776,112233,akkas,123,111,ctg,7765,1122
1,112,B,2/1/2018,20/9/1989,901,F,501,29,9/1/2018,991,667,990077,nusrat,321,123,dhaka,4788,1456
2,113,M,3/1/2018,1/11/1993,902,M,502,19,10/1/2018,992,555,123456,kalam,132,124,Korimpur,6754,5532
3,114,M,3/1/2018,2/11/1990,903,M,503,23,10/1/2018,993,777,880965,robiul,120,246,birampur,7754,5322
4,115,M,4/1/2018,22/9/1988,904,M,504,24,11/1/2018,994,445,235765,jamal,123,467,syria,6754,6543

In [24]:
#The final check we want to do is see what data types we have:
data.dtypes

id                  int64
diagnosis          object
Invoice Date       object
Date of birth      object
Invoice No          int64
Gender             object
Test Name           int64
Age                 int64
Delivery Date      object
Department          int64
Sample              int64
Contact number      int64
patient name       object
Unit                int64
Reference Value     int64
Address            object
Test Attribute      int64
Result              int64
dtype: object

In [25]:
#. Pandas has a helpful select_dtypes function which we can use to build a new dataframe containing only the object columns.
obj_data = data.select_dtypes(include=['object']).copy()
obj_data.head()

,diagnosis,Invoice Date,Date of birth,Gender,Delivery Date,patient name,Address
0,M,1/1/2018,22/1/1990,M,8/1/2018,akkas,ctg
1,B,2/1/2018,20/9/1989,F,9/1/2018,nusrat,dhaka
2,M,3/1/2018,1/11/1993,M,10/1/2018,kalam,Korimpur
3,M,3/1/2018,2/11/1990,M,10/1/2018,robiul,birampur
4,M,4/1/2018,22/9/1988,M,11/1/2018,jamal,syria

In [26]:
#Count How many similar types value.
obj_data["Address"].value_counts()

syria        1
jamlapur     1
dinajpur     1
kamalpur     1
birampur     1
amlapur      1
rongpur      1
hamlapur     1
dhaka        1
halisohor    1
gec          1
Korimpur     1
ctg          1
agrabad      1
Name: Address, dtype: int64

In [27]:
#Input   [Encoding Categorical Values]
X = data.iloc[:,0:18].values 
print("\nX before making numerical: \n",X)


#taking careof categorical data
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:,2]= labelencoder_X.fit_transform(X[:,2])
X[:,3]= labelencoder_X.fit_transform(X[:,3])
X[:,5]= labelencoder_X.fit_transform(X[:,5])
X[:,7]= labelencoder_X.fit_transform(X[:,7])
X[:,8]= labelencoder_X.fit_transform(X[:,8])
X[:,12]= labelencoder_X.fit_transform(X[:,12])
X[:,15]= labelencoder_X.fit_transform(X[:,15])
print("\nX after making numerical: \n",X,"\n")

X before making numerical:
 [[111 'M' '1/1/2018' '22/1/1990' 900 'M' 555 28 '8/1/2018' 909 776 112233
  'akkas' 123 111 'ctg' 7765 1122]
 [112 'B' '2/1/2018' '20/9/1989' 901 'F' 501 29 '9/1/2018' 991 667 990077
  'nusrat' 321 123 'dhaka' 4788 1456]
 [113 'M' '3/1/2018' '1/11/1993' 902 'M' 502 19 '10/1/2018' 992 555 123456
  'kalam' 132 124 'Korimpur' 6754 5532]
 [114 'M' '3/1/2018' '2/11/1990' 903 'M' 503 23 '10/1/2018' 993 777 880965
  'robiul' 120 246 'birampur' 7754 5322]
 [115 'M' '4/1/2018' '22/9/1988' 904 'M' 504 24 '11/1/2018' 994 445 235765
  'jamal' 123 467 'syria' 6754 6543]
 [116 'B' '4/1/2018' '31/12/1982' 905 'F' 505 26 '11/1/2018' 995 336 345865
  'kamal' 564 756 'agrabad' 8534 6433]
 [117 'B' '22/2/2018' '15/9/1993' 906 'M' 506 40 '28/2/2018' 996 365 349065
  'nizam' 546 456 'gec' 7643 7898]
 [118 'B' '25/2/2018' '26/5/1997' 907 'M' 507 41 '28/2/2018' 997 334 357852
  'amin' 789 797 'halisohor' 7543 7946]
 [119 'M' '3/3/2018' '11/2/1978' 908 'M' 508 43 '13/3/2018' 998 975 120956
  'onik' 987 567 'dinajpur' 7643 4567]
 [120 'M' '5/3/2018' '16/12/1971' 909 'F' 509 46 '13/3/2018' 999 365 437865
  'minhaz' 897 466 'rongpur' 7426 5476]
 [121 'M' '7/3/2018' '26/3/1972' 910 'M' 510 9 '23/3/2018' 1001 309 192830
  'raju' 879 467 'kamalpur' 3678 45768]
 [122 'B' '10/3/2018' '23/4/1995' 911 'M' 511 10 '23/3/2018' 1101 936
  706123 'akash' 907 432 'amlapur' 3468 4578]
 [123 'M' '16/3/2018' '14/5/1996' 912 'M' 512 12 '29/3/2018' 1189 854
  490123 'batas' 107 678 'jamlapur' 8653 353]
 [124 'B' '19/3/2018' '19/9/1980' 913 'F' 513 14 '30/3/2018' 1230 468
  358524 'hotas' 309 665 'hamlapur' 8643 2356]]

X after making numerical:
 [[111 'M' 0 8 900 1 555 8 7 909 776 112233 1 123 111 4 7765 1122]
 [112 'B' 4 7 901 0 501 9 8 991 667 990077 10 321 123 5 4788 1456]
 [113 'M' 7 0 902 1 502 4 0 992 555 123456 6 132 124 0 6754 5532]
 [114 'M' 7 6 903 1 503 5 0 993 777 880965 13 120 246 3 7754 5322]
 [115 'M' 9 9 904 1 504 6 1 994 445 235765 5 123 467 13 6754 6543]
 [116 'B' 9 13 905 0 505 7 1 995 336 345865 7 564 756 1 8534 6433]
 [117 'B' 5 3 906 1 506 10 4 996 365 349065 9 546 456 7 7643 7898]
 [118 'B' 6 12 907 1 507 11 4 997 334 357852 2 789 797 8 7543 7946]
 [119 'M' 8 1 908 1 508 12 2 998 975 120956 11 987 567 6 7643 4567]
 [120 'M' 10 4 909 0 509 13 2 999 365 437865 8 897 466 12 7426 5476]
 [121 'M' 11 11 910 1 510 0 3 1001 309 192830 12 879 467 11 3678 45768]
 [122 'B' 1 10 911 1 511 1 3 1101 936 706123 0 907 432 2 3468 4578]
 [123 'M' 2 2 912 1 512 2 5 1189 854 490123 3 107 678 10 8653 353]
 [124 'B' 3 5 913 0 513 3 6 1230 468 358524 4 309 665 9 8643 2356]]

In [28]:
df = pd.DataFrame(X, columns = ['id', 'diagnosis', 'Invoice Date', 'Date of birth', 'Invoice No', 'Gender', 'Test Name', 'Age',	'Delivery Date', 'Department', 'Sample', 'Contact number', 'patient name', 'Unit', 'Reference Value', 'Address', 'Test Attribute', 'Result'])
df.head()

,id,diagnosis,Invoice Date,Date of birth,Invoice No,Gender,Test Name,Age,Delivery Date,Department,Sample,Contact number,patient name,Unit,Reference Value,Address,Test Attribute,Result
0,111,M,0,8,900,1,555,8,7,909,776,112233,1,123,111,4,7765,1122
1,112,B,4,7,901,0,501,9,8,991,667,990077,10,321,123,5,4788,1456
2,113,M,7,0,902,1,502,4,0,992,555,123456,6,132,124,0,6754,5532
3,114,M,7,6,903,1,503,5,0,993,777,880965,13,120,246,3,7754,5322
4,115,M,9,9,904,1,504,6,1,994,445,235765,5,123,467,13,6754,6543

In [29]:
#1) There is an id that cannot be used for classificaiton 2) Diagnosis is our class label)
#Therefore, drop these unnecessary features.
# feature names as a list
col = df.columns       # .columns gives columns names in data 
print(col)

Index(['id', 'diagnosis', 'Invoice Date', 'Date of birth', 'Invoice No',
       'Gender', 'Test Name', 'Age', 'Delivery Date', 'Department', 'Sample',
       'Contact number', 'patient name', 'Unit', 'Reference Value', 'Address',
       'Test Attribute', 'Result'],
      dtype='object')

In [30]:
# y includes our labels and x includes our features
y = df.diagnosis
list = ['id','diagnosis']
x = df.drop(list,axis = 1 )
x.head()

,Invoice Date,Date of birth,Invoice No,Gender,Test Name,Age,Delivery Date,Department,Sample,Contact number,patient name,Unit,Reference Value,Address,Test Attribute,Result
0,0,8,900,1,555,8,7,909,776,112233,1,123,111,4,7765,1122
1,4,7,901,0,501,9,8,991,667,990077,10,321,123,5,4788,1456
2,7,0,902,1,502,4,0,992,555,123456,6,132,124,0,6754,5532
3,7,6,903,1,503,5,0,993,777,880965,13,120,246,3,7754,5322
4,9,9,904,1,504,6,1,994,445,235765,5,123,467,13,6754,6543

In [31]:
#1) Feature selection with correlation and random forest classification

drop_list1 = ['Invoice No','Invoice Date','Test Name','Delivery Date','Department','Unit','Reference Value','Test Attribute']
x_1 = x.drop(drop_list1,axis = 1 )        # do not modify x, we will use it later 
p = []
p.append(x_1.columns.tolist())
x_1.head()

  Date of birth Gender Age Sample Contact number patient name Address Result
0             8      1   8    776         112233            1       4   1122
1             7      0   9    667         990077           10       5   1456
2             0      1   4    555         123456            6       0   5532
3             6      1   5    777         880965           13       3   5322
4             9      1   6    445         235765            5      13   6543

In [32]:
data_dia = y
data = x
data_n_2 = (data - data.mean()) / (data.std())              # standardization
data = pd.concat([y,data_n_2.iloc[:,0:18]],axis=1)
data = pd.melt(data,id_vars="diagnosis",
                    var_name="features",
                    value_name='value')

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score,confusion_matrix
from sklearn.metrics import accuracy_score

# split data train 70 % and test 30 %
x_train, x_test, y_train, y_test = train_test_split(x_1, y, test_size=0.3, random_state=42)

#random forest classifier with n_estimators=10 (default)
clf_rf = RandomForestClassifier(random_state=43)      
clr_rf = clf_rf.fit(x_train,y_train)

In [34]:
#2) Univariate feature selection and random forest classification
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# find best scored features
select_feature = SelectKBest(chi2, k=5).fit(x_train, y_train)

In [35]:
print('Score list:', select_feature.scores_)
print('Feature list:', x_train.columns)
p.append(x_train.columns.values.tolist())

Score list: [  6.75000000e-01   7.14285714e-01   2.70750000e+00   9.65217160e+01
   2.28528451e+05   2.75625000e+00   1.36290323e-01   1.70545910e+04]
Feature list: Index(['Date of birth', 'Gender', 'Age', 'Sample', 'Contact number',
       'patient name', 'Address', 'Result'],
      dtype='object')

In [36]:
scores = {}
for u, v in zip(select_feature.scores_, x_train.columns.values.tolist()):
    scores[v] = u
scores

{'Address': 0.13629032258064525,
 'Age': 2.7075000000000022,
 'Contact number': 228528.45051245467,
 'Date of birth': 0.67500000000000004,
 'Gender': 0.71428571428571375,
 'Result': 17054.590964434476,
 'Sample': 96.521716036772276,
 'patient name': 2.7562500000000001}

In [37]:
#3) Recursive feature elimination (RFE) with random forest


#Like previous method, we will use the features. However, which features will we use ? We will choose them with RFE method.

from sklearn.feature_selection import RFE
# Create the RFE object and rank each pixel
clf_rf_1 = RandomForestClassifier()      
rfe = RFE(estimator=clf_rf_1, n_features_to_select=5, step=1)
rfe = rfe.fit(x_train, y_train)

In [38]:
print('Chosen best 5 feature by rfe:',x_train.columns[rfe.support_])

Chosen best 5 feature by rfe: Index(['Age', 'Sample', 'Contact number', 'patient name', 'Address'], dtype='object')

In [39]:
p.append(x_train.columns[rfe.support_].values.tolist())

In [40]:
#4) Recursive feature elimination with cross validation and random forest classification

#Now we will not only find best features but we also find how many features do we need for best accuracy.

from sklearn.feature_selection import RFECV

# The "accuracy" scoring is proportional to the number of correct classifications
clf_rf_2 = RandomForestClassifier() 
rfecv = RFECV(estimator=clf_rf_2, step=1, cv=5,scoring='accuracy')   #5-fold cross-validation
rfecv = rfecv.fit(x_train, y_train)

print('Optimal number of features :', rfecv.n_features_)
print('Best features :', x_train.columns[rfecv.support_])

p.append(x_train.columns[rfecv.support_].values.tolist())

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Optimal number of features : 6
Best features : Index(['Age', 'Sample', 'Contact number', 'patient name', 'Address', 'Result'], dtype='object')

In [41]:
p

[['Date of birth',
  'Gender',
  'Age',
  'Sample',
  'Contact number',
  'patient name',
  'Address',
  'Result'],
 ['Date of birth',
  'Gender',
  'Age',
  'Sample',
  'Contact number',
  'patient name',
  'Address',
  'Result'],
 ['Age', 'Sample', 'Contact number', 'patient name', 'Address'],
 ['Age', 'Sample', 'Contact number', 'patient name', 'Address', 'Result']]

In [42]:
result = set(p[0])
for s in p[1:]:
    result.intersection_update(s)
print("Effective Feature: ",result)

Effective Feature:  {'Contact number', 'Age', 'Address', 'Sample', 'patient name'}

In [43]:
output = []
for s in result:
    output.append((s, scores[s]))
output = sorted(output, reverse=True, key=lambda tup: tup[1])
output

[('Contact number', 228528.45051245467),
 ('Sample', 96.521716036772276),
 ('patient name', 2.7562500000000001),
 ('Age', 2.7075000000000022),
 ('Address', 0.13629032258064525)]

In [44]:
for i, v in enumerate(output):
    print(str(i + 1) + ' :' + v[0])

1 :Contact number
2 :Sample
3 :patient name
4 :Age
5 :Address