# Apply train test split

In [1]:
import pandas as pd
from sklearn import linear_model
df = pd.read_csv(r'C:\Users\User\Documents\dataset.csv')
df

   expenditure  sales
0           56    147
1           42    125
2           36    118
3           47    128
4           49    145
5           42    125
6           72    166
7           63    160
8           55    149
9           60    150

In [2]:
ex , sa = df[['expenditure']] , df[['sales']]

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ex,sa,test_size=0.3)

In [4]:
X_train

   expenditure
0           56
4           49
9           60
8           55
3           47
5           42
1           42

In [5]:
X_test

   expenditure
7           63
2           36
6           72

In [6]:
y_train

   sales
0    147
4    145
9    150
8    149
3    128
5    125
1    125

In [7]:
y_test

   sales
7    160
2    118
6    166

In [ ]:
`After apply this accuracy got 94% for the given dataset hop`